.app
  min-height 100vh
  min-width 320px
  font 12px "Open Sans"
  color $colorInertDark
  background $colorPageBg

.header
  position fixed
  left 0
  right 0
  top 0
  height 120px
  background $colorThemeMain
  z-index 4

  .header__content
    max-width 1200px
    margin 0 auto


.main
  max-width 1200px
  min-width 320px
  min-height 100vh
  background $colorClean
  box-shadow 0 0 8px 0 $colorShadow
  margin 0 auto
  padding-top 120px

  &.is-half
    padding-right 500px

    @media (max-width: 999px) and (min-width: 600px)
      margin 0
      padding-right 50%

    @media (max-width: 599px)
      padding-right 0


