.drop-down {
  position relative

  &__target {
    user-select none
  }
  &__content {
    z-index 100
    left 0
    background #fff
    position absolute
    box-shadow 0 0 7px 0 $colorInertDark
  }
}