.lists-item
  display block
  position relative
  flex-grow 1
  width 116px
  height 160px
  margin 10px
  background #fff
  color $colorInertMain
  line-height 20px

  &__area
    position relative
    height 116px
    border #ccc 1px solid
    &::before
      position absolute
      content ''
      top calc(50% - 20px)
      left calc(50% - 20px)
      display block
      width 40px
      height 40px
      background url("../icons/lists-item.svg")
      transition left .2s ease-in, top .2s ease-in, transform .2s ease-in

  &.is-liked > &__area::before
    background url("../icons/lists-liked.svg")

  &__play, &__details
    position absolute
    width 24px
    height 24px
    top 70px
    border $colorThemeMain 0px solid
    border-radius 50%
    opacity 0
    transform scale(.5)
    transition opacity .2s ease-in, transform .2s ease-in

  &__play
    left calc(50% - 30px)
    background url("../icons/lists-play.svg") no-repeat center

  &__details
    right calc(50% - 30px)
    background url("../icons/lists-details.svg") no-repeat center

  &:hover > &__area::before
    left 10px
    top 10px
    transform scale(.5)

  &:hover &__play, &:hover &__details
    opacity 1
    transform scale(1)

  &__name
    font-size 14px
    font-weight 600

  &__info
    font-size 12px
    font-weight 300





