.lists
  display flex
  flex-wrap wrap
  justify-content space-between
  padding 10px
  background #fff

  &__dummy-item
    display block
    flex-grow 1
    height 0
    margin 0 10px
    width 116px

@import "lists-item.styl"


















