.nav
  display flex
  align-items center

  .nav__list
    display flex
    flex-grow 1

  //.nav__item

  .nav__link
    display block
    position relative
    padding 0 20px
    line-height 48px
    font-weight 600
    color $colorThemeLightened
    text-decoration none
    cursor pointer
    @media (max-width: 799px)
      padding 0 10px

    &::after
      content ''
      display block
      position absolute
      bottom 0
      left 50%
      right 50%
      height 4px
      opacity 0
      background $colorThemeLight
      transition all .2s ease-in

    &:hover::after, &.is-active::after
      left 0
      right 0
      opacity 1

  &__more
    padding 0 20px
    color $colorThemeLightest
    background $colorThemeMain
    transition background .2s ease-out
    line-height 48px
    font-weight 600
    cursor pointer
    &::after
      content ''
      display inline-block
      margin 0 0 2px 10px
      border 4px transparent solid
      border-bottom-width 0
      border-top-color $colorThemeLightest
      vertical-align middle
      transition transform .2s ease-out
    &.is-active
      background $colorThemeDark
    &.is-active::after
      transform rotate(180deg)

  &__more-list
    background $colorClean
    box-shadow 0 0 8px 0 $colorShadow
    padding 6px 0

  &__more-item
    line-height 30px

  &__more-link
    display: block;
    text-decoration none
    padding 0 12px
    white-space nowrap
    color $colorInertDark
    &:hover, &.is-active
      background $colorInertLightest

  &__more-separator
    height 1px
    margin 6px 0
    background $colorInertLightest

  .nav__search
    width 16px
    height 16px
    margin 0 20px
    background url("../icons/search.svg")
    border none
