@keyframes plays
  0%
    transform: scale(.2)
    opacity 1
  100%
    opacity .6
    transform: scale(1)

.playlist
  position fixed
  width 500px
  max-height calc(100% - 120px)
  max-width 500px
  left calc(50% + 100px)
  top 120px
  bottom 0
  overflow auto
  z-index 2

  @media (max-width: 1199px) and (min-width: 600px)
    width 50%
    max-width 500px
    left auto
    right 0

  @media (max-width: 599px)
    display none

  &__item
    display flex
    align-items center
    color $colorInertMain
    height 40px
    cursor pointer

  &__prefix
    position relative
    width 30px
    height 30px
    margin-right 4px

  &__num
    line-height 30px
    margin 0 auto
    text-align center
    transition opacity .2s ease-in

  &__plays
    position absolute
    left 7px
    top 7px
    width 16px
    height 16px
    opacity 0
    transition opacity .2s ease-in

    &::before
      content ''
      display block
      position absolute
      width 16px
      height 16px
      border-radius 8px
      background rgba($colorThemeAccent, .5)
      animation plays .8s ease-out infinite

    &::after
      content ''
      display block
      position absolute
      width 6px
      height 6px
      border-radius 3px
      margin 5px
      background $colorThemeAccent
      overflow hidden

  &__play, &__pause
    position absolute
    left 3px
    top 3px
    width 24px
    height 24px
    opacity 0
    transition opacity .2s ease-in

  &__play
    background url("../icons/playlist-play.svg")

  &__pause
    background url("../icons/playlist-pause.svg")

  &__item.is-plays &__num, &__item:hover &__num
    opacity 0

  &__item.is-plays:not(:hover) &__plays
    opacity 1

  &__item.is-plays:hover &__pause
    opacity 1

  &__item:not(.is-plays):hover &__play
    opacity 1

  &__artist
    font-weight bold

  &__title
    flex-grow 1

  &__time
    width 40px
    text-align right
    margin-right 20px
