.player
  display flex
  flex-wrap wrap
  height 72px
  align-items center

  &__cover
    width 60px
    height 60px

  &__info
    display flex
    width calc(50% - 75px - 60px)
    line-height 19px
    color $colorThemeLightened
    flex-direction column
    justify-content center
    padding-left 20px

  &__info-artist
    font-weight 600

  &__info-title
    font-weight 300

  &__nav
    display flex
    align-items center
    padding 11px 0

  &__nav-prev
    width 26px
    height 14px
    background url("../icons/prev.svg")
    border none

  &__nav-next
    width 26px
    height 14px
    background url("../icons/next.svg")
    border none

  &__nav-play
    display block
    margin 0 26px
    width 46px
    height 46px
    border none
    background url("../icons/play.svg")
    &.is-paused
      background url("../icons/pause.svg")

  &__controls
    display flex
    width calc(50% - 75px)
    padding 0 10px
    justify-content flex-end

  &__control
    position: relative;
    margin 0 10px
    &:last-child
      margin-right 3px

  &__control-volume, &__control-list, &__control-more
    width 30px
    height 30px
    border none
    border-radius 50%

  &__control-volume
    background url("../icons/volume.svg") no-repeat center

  &__control-list
    background url("../icons/play-list.svg") no-repeat center

  &__control-more
    background url("../icons/more.svg") no-repeat center
    &.is-active
      background-color $colorThemeDark

  &__volume-wrapper
    position absolute
    top 50%
    transform translate(-100%, -50%)
    //background $colorThemeDark

  &__volume-range
    margin 10px 10px

  &__more-list
    left auto
    right 0
    padding 6px 0

  &__more-item
    display flex
    align-items center
    user-select none
    cursor default

    &:before
      content ''
      display block
      width 16px
      height 16px
      margin 0 12px

  &__more-item.option-loop:before
    background url("../icons/loop.svg")

  &__more-item.option-shuffle:before
    background url("../icons/shuffle.svg")

  &__more-item.option-equalizer:before
    background url("../icons/equalizer.svg")

  &__more-item.option-visualization:before
    background url("../icons/visualization.svg")

  &__more-name
    flex-grow 1
    white-space nowrap
    line-height 40px

  &__more-settings
    width 16px
    height 16px
    border none
    margin-left 20px
    background url("../icons/settings.svg")
    cursor pointer
    transition transform .2s ease-out
    &:hover
      transform rotate(30deg)

  &__more-toggle
    margin 0 12px 0 20px
    cursor pointer

  &__progress
    width 100%
    height 4px
    background rgba($colorThemeLightest, .5)