.range
  position relative
  width 100px
  padding 5px 0
  cursor pointer


  &__way
    height 2px
    background $colorThemeLightest

  &__completed
    height 2px
    position absolute
    left 0
    top: 5px
    width 0
    background $colorThemeLightened

  &__wrapper
    position absolute
    width calc(100% - 10px)
    height 10px
    left 0
    top: 2px

  &__point
    position absolute
    width 10px
    height 10px
    border-radius 5px
    left 0
    background $colorThemeLightened
    &::before
      content ''
      display block
      position absolute
      width 20px
      height 20px
      left -5px
      top -5px
      border-radius 50%
      background rgba($colorThemeLightened, .1)
      opacity 0
      transform scale(.3)
      transition opacity .2s ease-out, transform .2s ease-out

  &.is-active &__point::before
    opacity 1
    transform scale(1)



