.toggle
  position relative
  width 30px
  height 10px
  margin 3px 0
  background $colorInertLight
  border-radius 5px
  transition background .2s ease-out
  &::before
    content ''
    display block
    position absolute
    left 0
    top -3px
    width 16px
    height 16px
    border-radius 50%
    background $colorInertMain
    transition transform .2s ease-out, background .2s ease-out

  &.is-checked
    background $colorThemeLight
    &::before
      background $colorThemeMain
      transform translateX(14px)


