.welcome
  overflow hidden

  &__logo
    width 64px
    height 64px
    float left
    background url("../icons/logo.svg")

  &__login
    float right
    color $colorThemeLightened
    line-height 20px
    margin: 22px 20px 0 0;
    @media (max-width: 599px)
      display none

  &__header, &__description
    font-size 12px
    color $colorThemeLightened
    margin 4px 0 4px 80px

  &__header
    margin-top 11px

  &__description
    margin-bottom 11px
    font-weight normal