@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 300
  src url('../fonts/open-sans/OpenSans-Light.ttf')

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 300
  src url('../fonts/open-sans/OpenSans-Lightitalic.ttf')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 400
  src url('../fonts/open-sans/OpenSans-Regular.ttf')

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 400
  src url('../fonts/open-sans/OpenSans-Italic.ttf')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 600
  src url('../fonts/open-sans/OpenSans-Semibold.ttf')

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 600
  src url('../fonts/open-sans/OpenSans-Semibolditalic.ttf')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 700
  src url('../fonts/open-sans/OpenSans-Bold.ttf')

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 700
  src url('../fonts/open-sans/OpenSans-Bolditalic.ttf')

@font-face
  font-family 'Open Sans'
  font-style normal
  font-weight 800
  src url('../fonts/open-sans/OpenSans-Extrabold.ttf')

@font-face
  font-family 'Open Sans'
  font-style italic
  font-weight 800
  src url('../fonts/open-sans/OpenSans-Extrabolditalic.ttf')

