div, main, header, footer, section, nav, menu, ul, ol, li, button, input, label, p, span
  box-sizing border-box



ul, ol, menu
  list-style none
  margin 0
  padding 0

h1, h2, h3, h4, h5, h6, p {
  margin 0
}


body
  font-family Arial
  font-size 12px